html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
ul,ol,li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,u{text-decoration: none;}
input{outline:none;}
*{box-sizing:border-box;}
html,body{box-sizing: border-box;}
:focus{outline: none;}
.banner_content{
    margin: 0 auto;
}
.banner_content a>img{
    margin-left: 300px;
}

header{
    height: 34px;
    width: 100%;
    background: #333;
}
header span{
    color: #444;
}
.header_wrap{
    width: 1100px;
    height: 34px;
    margin: 0 auto;
    /*background: red;*/
    padding-right: 50px;
}
.header_wrap>ul li{
    line-height: 34px;
    float: left;
}
.header_wrap>ul li a{
    color: #ccc;
    padding: 0 10px;
    font-size: 14px;
}
.header_right{
    float: right;
}
.header_right>ul>li{
    float: left;
    line-height: 30px;
}
.header_right>ul>li:nth-of-type(1),.header_right>ul>li:nth-of-type(3),.header_right>ul>li:nth-of-type(4){
    width: 90px;
}
.header_right>ul>li:nth-of-type(5){
    width: 60px;
}
.header_right ul li ul{
    position: absolute;
    display: none;
    top: 32px;
    box-shadow: 0 0 5px #ccc;
    z-index: 100;

}
.header_right>ul>li>ul li{
    width: 110px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: block;
    height: 40px;
    text-align: center;


}
.header_right>ul>li>ul li a{
    color: #666;
    line-height: 40px;
}
.header_right>ul>li>ul li a:hover{
    color:#de3c5b;
}
.header_right ul li a{
    color: #ccc;
    padding: 0 10px;
    font-size: 14px;
}

footer{
    width: 100%;
    height: 180px;
    background: #333;
    padding: 30px 0;
}
footer p{
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 5px;
}
footer p a{
    color: #fff;
    margin: 5px;
}
.nav_right{
    position: fixed;
    top: 40%;
    right: 10px;
    /*display: none;*/
    transform: scale(0);
    transition: 1s;

}
.nav_right ul li{
    margin-top: 5px;
    padding-top: 5px;
    background: #666;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 5px;

}
.nav_right ul li img{
    margin-left: 12px;
    margin-top:  5px;
    margin-top: 2px;
    width: 16px;
    height: 14px;
}
.nav_right a{
    font-size: 10px;
    color: #fff;
}
.nav_right li:hover{
    background: #000;
    cursor: pointer;
}
.nav_right span{
    margin-top: 150px;
    display: block;
    height: 30px;
    width: 30px;
    background: #666;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    margin-left: 2px;
}
.nav_right span img{
    margin-bottom: 3px;
}
.nav_right span:hover{
    background:#000;
}

.addCar{
    height: 30px;
    width: 120px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #333;
    font-weight: 600;
    position: fixed;
    left: 45%;
    top: 40%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ddd;
    display: none;
}